<%- include('../adminLayouts/header.ejs') %>
<%- include('../adminLayouts/navbar.ejs') %>

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-secondary rounded h-100 p-4">
                <div style="display: flex; justify-content: space-between;">
                    <h6 class="mb-4">Ads Table</h6>
                    <button type="button" class="btn btn-outline-success m-2" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Add Ads</button>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                              <th scope="col">No</th>
                              <th scope="col">Image</th>
                              <th scope="col">Banner Text</th>
                              <th></th>
                            </tr>
                        </thead>
                        <tbody>
                          <% if(banner.length > 0){
                            banner.forEach((banner,i) => { %>
                              <tr>
                                <td><%= i + 1 %></td>
                                <td class="py-1">                                 
                                    <img style="width: 100px; height: 100px;" src="/adminAssets/adminImages/<%= banner.image %>" alt="image" />                                 
                                </td>
                                <td><%= banner.heading %></td> 
                                <td>
                                  <a data-bs-toggle="modal" data-bs-target="#editBannerModal-<%= banner._id %>" data-bs-whatever="@mdo"><i class="bi bi-pencil-square bi fs-4"></i></a>
                                  <a href="" data-bs-toggle="modal" data-bs-target="#staticBackdrop<%= banner._id %>"><i class="bi bi-trash bi fs-4 ms-3"></i></a>
                                </td>
                              </tr>

                              <!-- Modal -->
                                <div class="modal fade" id="staticBackdrop<%= banner._id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content" style="background-color: #191C24;color: aliceblue;">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Delete Category</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                        <p>Are you sure you want to delete coupon ?</p>
                                        </div>
                                        <div class="modal-footer">
                                        <a href="/admin/bannerList"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button></a>
                                        <a href="/admin/deleteBanner?id=<%= banner._id %>"><button type="button" class="btn btn-primary">Yes</button></a>
                                        
                                        </div>
                                    </div>
                                    </div>
                                </div>




                              <div class="modal fade" id="editBannerModal-<%= banner._id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <!-- Edit Banner Modal content -->
                                <div class="modal-dialog">
                                  <div class="modal-content" style="background-color: #191C24;">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLabel">Edit Banner</h5>
                                    </div>
                                    <div class="modal-body">
                                      <form action="/admin/editBanner" method="post" class="forms-sample" enctype="multipart/form-data" id="editForm">
                                        <div class="form-group">
                                          <label for="exampleInputUsername1">Banner Heading</label>
                                          <input type="text" class="form-control" value="<%= banner.heading %>" name="heading" id="headingEdit">
                                          <span class="text-danger " id="headingEditError"></span>
                                          <input type="hidden" class="form-control" value="<%= banner._id %>" name="id">
                                          <input type="hidden" class="form-control" value="<%= banner.image %>" name="img">
                                        </div>
                                        <div class="form-group">
                                          <label>File upload</label>
                                          <div class="input-group col-xs-12">
                                            <img src="/adminAssets/adminImages/<%= banner.image %>" alt="" width="100px" height="50">
                                          </div>
                                        </div>
                                        <div class="mb-3">
                                          <label for="recipient-name" class="col-form-label">Banner Image Upload</label>
                                          <input class="form-control bg-dark" accept="Image/*" type="file" name="image">
                                          <span class="text-danger" id="image-error"></span>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                                          <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                      </form>
                                    </div>
                                  </div>
                                </div>
                              </div>    
                              <% });
                            }else { %> 
                            <tr>
                              <td>
                                <td colspan="9">no any banner is added</td>
                              </td>
                            </tr>
                            <% } %> 
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>   


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="background-color: #191C24;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Banner</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/admin/insertBanner" method="post" id="form" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="bannerText" class="col-form-label">Banner Text</label>
            <input type="text" class="form-control" name="text" id="bannerText">
            <span class="text-danger" id="bannerText-error"></span>
          </div>
          <div class="mb-3">
            <label for="bannerImage" class="col-form-label">Banner Image Upload</label>
            <input class="form-control bg-dark" accept="image/*" type="file" name="image" id="bannerImage">
            <span class="text-danger" id="image-error"></span>
          </div>
         
          <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  const form = document.getElementById('form');
  const bannerText = document.getElementById('bannerText');
  const imageInput = document.getElementById('bannerImage');
  const bannerTextError = document.getElementById('bannerText-error');
  const imageError = document.getElementById('image-error');

  form.addEventListener("submit", (event) => {
    event.preventDefault();

    // Validate banner text
    if (bannerText.value.trim() === '') {
      bannerTextError.textContent = "Please enter banner text";
      return;
    } else {
      bannerTextError.textContent = "";
    }

    // Validate image file
    const imageFile = imageInput.files[0];
    if (!imageFile) {
      imageError.textContent = "Please select an image";
      return;
    } else {
      const allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;
      if (!allowedExtensions.test(imageFile.name)) {
        imageError.textContent = "Invalid image file format";
        return;
      }
      imageError.textContent = "";
    }

    form.submit();
  });
</script>



<%- include('../adminLayouts/footer.ejs') %>