<%- include('../adminLayouts/header.ejs') %>
<%- include('../adminLayouts/navbar.ejs') %>
<!-- Table Start -->  


  <div class="container-fluid pt-4 px-4">
    <div class="row g-4">
      <div class="col-12">
        <div class="bg-secondary rounded h-100 p-4">
         <div class="d-flex justify-content-between pb-3">
          <h6 class="mb-4">Sales Report</h6>
          <div class="d-flex">
          <!-- <div class="dropdown mx-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Sales Report Pdf
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/admin/salesReportPdf/<%= 7 %>">Weekly sales</a></li>
              <li><a class="dropdown-item" href="/admin/salesReportPdf/<%= 30 %>">Monthly sales</a></li>
              <li><a class="dropdown-item" href="/admin/salesReportPdf/<%= 365 %>">Yearly sales</a></li>
            </ul>
          </div> -->
        </div>  
      </div> 
      
      
      <div class="container">
        <div class="row">
          <div class="col">
            <a class="btn btn-outline-success btn-sm" type="button" href="/admin/salesReportPdf/<%= endDate %>/<%= startDate %>">PDF DOWNLOAD</a>
            <a class="btn btn-outline-success btn-sm" type="button" href="/admin/salesReportExel/<%= endDate %>/<%= startDate %>">EXEL DOWNLOAD</a>
          </div>
          <div class="col">
            <form method="post" action="/admin/salesReportSort/">
              <div class="d-flex flex-wrap align-items-center gap-3">
                <div class="mb-2">
                  <label for="fromInput" class="form-label">Start Date:</label>
                  <input type="date" id="fromInput" class="form-control" name="startDate">
                </div>
                <div class="mb-2">
                  <label for="toInput" class="form-label">End Date:</label>
                  <input type="date" id="toInput" class="form-control" name="endDate">
                </div>
                <div class="mb-2" style="padding-top: 30px;">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      
      
        <div class="table-responsive">  
          <table class="table">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">Product Name</th>
                <th scope="col">User Name</th>
                <th scope="col">Order Id</th>
                <th scope="col">Order Date</th>
                <th scope="col">Payment Methode</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total Amount</th>
              </tr>
            </thead>
            <tbody>
              <% if(order.length > 0){
                order.forEach((orders,i) => { %>
              <tr>
                <td><%= i + 1 %></td>
                <td><%= orders.products.productDetails.productName %></td>
                <td><%= orders.userName %></td>
                <td><%= orders._id %></td>
                <td><%= orders.date.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: '2-digit' }).replace(/\//g, '-') %></td>
                <td><%= orders.paymentMethod %></td>
                <td class="text-center"><%= orders.products.count %></td>
                <td><%= orders.totalAmount %></td>
                
              </tr>
              <% });
              }%>
            </tbody>
          </table>
          <nav aria-label="Page navigation">
              <ul class="pagination justify-content-center">
                  <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
                      <a class="page-link page-link-prev" href="?page=<%= currentPage - 1 %>" aria-label="Previous" tabindex="-1" aria-disabled="true">
                          <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                      </a>
                  </li>
                  <% for (let i = 1; i <= totalPages; i++) { %>
                      <li class="page-item <%= currentPage === i ? 'active' : '' %>" aria-current="page">
                          <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                      </li>
                  <% } %>
                  <li class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
                      <a class="page-link page-link-next" href="?page=<%= currentPage + 1 %>" aria-label="Next">
                          Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                      </a>
                  </li>
              </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
<!-- Table End -->


<%- include('../adminLayouts/footer.ejs') %>  