<%- include('../userLayouts/header.ejs') %>

<%- include('../userLayouts/navbar.ejs') %>

<main class="main">
    
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                <li class="breadcrumb-item" aria-current="page">Shop</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="toolbox">
                        <div class="toolbox-left">
                        </div><!-- End .toolbox-left -->
                    </div><!-- End .toolbox -->

                    <div class="products mb-3">
                        <div class="row justify-content-center">
                            <% 
                            if(product.length > 0){
                                for(let i = 0; i< product.length;i++ ){
                                %>
                            <div class="col-6">
                                <div class="product product-7 text-center">
                                    <figure class="product-media">
                                        <% if(product[i].discountPercentage > 0){ %>
                                            <span class="product-label label-new"><%= product[i].discountName %></span>
                                       <% }else{ %>

                                       <% } %>
                                       
                                        <a href="/singleProduct/<%= product[i]._id%>">
                                            <img src="/adminAssets/adminImages/<%= product[i].image[0] %>" alt="Product image" class="product-image">
                                        </a>

                                        <div class="product-action-vertical">
                                            <a href="" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                        </div><!-- End .product-action-vertical -->

                                        <div class="product-action">
                                            <% if(session != null){
                                                %>
                                                <a  onclick="addToCart('<%= product[i]._id %>')" class="btn-product btn-cart"><span>add to cart</span></a>
                                            <%
                                            }else{
                                                %>
                                                <a  onclick="plzlogin()" class="btn-product btn-cart"><span>add to cart</span></a>
                                                <%
                                            }%>
                                            
                                            </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#"><%= product[i].category %></a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="product.html"><%=product[i].productName%></a></h3><!-- End .product-title -->
                                        <% 
                                
                                            const discount =  product[i].discountPercentage; 
                    
                                            const price =  product[i].price 
                    
                                            const discountAmount = Math.round((price*discount)/100)
                    
                                            const total = price - discountAmount

                                        %>
                                        <% if(discountAmount <= 0) {%>
                                            ₹<%= product[i].price %>.00
                                        <% }else{ %>
                                            <del class="text-danger">₹<%= product[i].price %>.00</del>
                                            ₹<%= total %>.00
                                        <% } %>
                                       
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            </div><!-- End .col-sm-6 --> 
                            <%
                        }
                        }
                        %>       
                        </div><!-- End .row -->
                    </div><!-- End .products -->


                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
                                <a class="page-link page-link-prev" href="?page=<%= currentPage - 1 %>" aria-label="Previous" tabindex="-1" aria-disabled="true">
                                    <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                                </a>
                            </li>
                            <% for (let i = 1; i <= totalPages; i++) { %>
                                <li class="page-item <%= currentPage === i ? 'active' : '' %>" aria-current="page">
                                    <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                                </li>
                            <% } %>
                            <li class="page-item-total">of <%= totalPages %></li>
                            <li class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
                                <a class="page-link page-link-next" href="?page=<%= currentPage + 1 %>" aria-label="Next">
                                    Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div><!-- End .col-lg-9 -->
                <aside class="col-lg-3 order-lg-first">
                    <div class="sidebar sidebar-shop">
                        <div class="widget widget-clean">                           
                            <label>Filters:</label>
                        </div><!-- End .widget widget-clean -->

                        <div class="widget widget-collapsible">
                            <h3 class="widget-title">
                                <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true" aria-controls="widget-1">
                                    Category
                                </a>
                            </h3><!-- End .widget-title -->
                            
                            <div class="collapse show" id="widget-1">
                                <%
                            if(category.length > 0){
                                for(let i = 0; i < category.length;i++){
                                    %>
                                <div class="widget-body">
                                    <div class="filter-items filter-items-count">
                                        <div class="filter-item">
                                            <div class="custom-control custom-checkbox">
                                               
                                                <a  href="/filterCategory/<%= category[i].categoryName %>" for="cat-1" >
                                                    <%= category[i].categoryName %>
                                                </a>
                                            </div><!-- End .custom-checkbox -->
                                        </div><!-- End .filter-item -->
                                    </div><!-- End .filter-items -->
                                </div><!-- End .widget-body -->
                                <%
                            }
                            }
                            %>
                            </div><!-- End .collapse -->
                        </div><!-- End .widget -->

                        <div class="widget widget-collapsible">
                            <h3 class="widget-title">
                                <a data-toggle="collapse" href="#widget-5" role="button" aria-expanded="true" aria-controls="widget-5">
                                    Price
                                </a>
                            </h3><!-- End .widget-title -->

                            <div class="collapse show" id="widget-1">
                                <div class="widget-body">
                                    <div class="filter-items filter-items-count">
                                        <div class="filter-item">
                                            <div class="custom-control custom-checkbox">
                                                <a href="/priceSort/<%= 1 %>"  "for="cat-1" >
                                                    LOW TO HIGH
                                                </a>
                                            </div><!-- End .custom-checkbox -->
                                        </div><!-- End .filter-item -->
                                    </div><!-- End .filter-items -->
                                </div><!-- End .widget-body -->
                                <div class="widget-body">
                                    <div class="filter-items filter-items-count">
                                        <div class="filter-item">
                                            <div class="custom-control custom-checkbox">
                                                <a href="/priceSort/<%= -1 %>" for="cat-1" >
                                                    HIGH TO LOW
                                                </a>
                                            </div><!-- End .custom-checkbox -->
                                        </div><!-- End .filter-item -->
                                    </div><!-- End .filter-items -->
                                </div><!-- End .widget-body -->
                            </div><!-- End .collapse -->
                        </div><!-- End .widget -->

                        </div><!-- End .widget -->
                    </div><!-- End .sidebar sidebar-shop -->
                </aside><!-- End .col-lg-3 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .page-content -->
</main><!-- End .main -->

<script>
    function addToCart(productId){
        $.ajax({
            url:'/addToCart',
            method:'post',
            data:{
                id:productId
            },
            success:(response)=>{  
                if(response.success){
                    swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: 'Product added to cart',
                    showConfirmButton: false,
                    timer: 1500,
                    });
                }else {
                    swal.fire({ 
                        position:'center',
                        icon: 'warning',
                        text: response.message,
                        timer: 1500,
                        showConfirmButton: false,
                    });
                }
            }
        })
    }
    function plzlogin() {
        $.ajax({
            success: (response) => {
                swal.fire({
                    position: 'top',
                    title: '! Please Login To Your Account',
                    showConfirmButton: false,
                    timer: 1500,
                    customClass: {
                        popup: 'my-swal-class',
                    },
                });
            }
        });
    }


</script>


<%- include('../userLayouts/footer.ejs') %>